// Fonts
$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-tertiary: 'Times New Roman', Times, serif;
$font-optional: 'Oleo Script Swash Caps', cursive;

// Colors

$color-primary: #000000;
$color-secondary: #a0a0a0;
$color-paragraph: #929292;
