// Fonts
$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-tertiary: 'Times New Roman', Times, serif;
$font-optional: 'Oleo Script Swash Caps', cursive;

// Colors

$color-primary: #000000;
$color-secondary: #afafaf;
$color-paragraph: #e2e2e2;
