include _movies

header
  .ads
    img(src="./assets/images/ads-logo-left.png", width="10rem", height="10rem",alt="Dewys logo")
    .ads_left
      h2  Devy's Public House
      span  Beers · Bourbons · Bread
      small Los Angeles - Montreal - New York
  .title
    h1 Hollywood Factory
    small March 24, 1976
  .ads.right
    .ads_right
      h2  Telephone is here
      div
        span.ads_right-value $18.90 
        span |
        span.ads_right-text Los Angeles Montreal
    img(src="./assets/images/ads-logo-right.png", alt="Telephone image")
  div.movies
    +movies('Cool hand Luke', '7.2')
    +movies('Planet of the Aples', '9.1')
    +movies('The Godfather', '9.6')
    +movies('It\'s a Wonderful time', '7.5')
    +movies('The Third Man ', '6.9')
    +movies('Dr. Strangelove', '8.9')
    +movies('Cool hand Luke', '7.2')
  nav
    i(class="fas fa-bars")
    ul
      li Latest
      li Featured
      li Automobiles
      li Celebrities
      li Hollywood Directory
      li Trending Movies
      li Book Tickets
      li Fans
      li Books
    i(class="fas fa-search")