doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Oswald:wght@400;500;700&display=swap")
    title Newspaper
  body
    block bodies
    <script src="https://kit.fontawesome.com/4f51e0cdde.js" crossorigin="anonymous"></script>