include _articles

main
  .column-left
    .article-one
      h1 The Great Kate
      p Shoot'em. Shoot'em. It's a better way to live! Check out <b class="word-changed">Katherine</b> Hepburn in rare crank from in this <i>1979 60 Minutes interview</i>, waxing on aging, humanity, movies, and bores.
      a(href="/") Watch Video
        i(class="fas fa-long-arrow-alt-right")
      img(src="assets/images/woman.jpg", alt="Picture of a woman")
    .article-two
      img(src="assets/images/man.jpg", alt="Picture of a man")
      h1 Everyone In Old Hollywood was <i class="word-changed">On Acid</i>
      h2 March 20, 1966
      p Before Scientology took hold, before they forgot their mantras, before the baby food diet, <i>Vanity Fair</i> reminds.
      a(href="/") Read More
        i(class="fas fa-long-arrow-alt-right")
    .advertising-left
      h1 Dreams Lover
      h2 <span class="word-change">The</span> </br> Bobby Darin
      a(href="/") Book
        i(class="fas fa-long-arrow-alt-right")
  .column-center
    .article-central
      img(src="assets/images/set.jpg", alt="Picture of men")
      div
        small Trending
        button 
          i(class="fas fa-share")
      h1 Brunettes, Redheads Picket Dores Gentlemen Prefer Blondes
      p But perhaps the most interesting component of the story is the proto-Feminine Mystique liberating power the drug held for many women. The community of discontented Hollywoodwives.
      .autor
        .autor-info
          img(src="assets/images/man-profile.jpg", alt="Picture of man")
          h2 Jinneuville Martin Jose
          small March 12, 1966
        .autor-actions
          button 
            i(class="fas fa-caret-left")
          button 
            i(class="fas fa-caret-right")
  .column-right
    .advertising-right
      .advertising-right_info
        h1  Good times now
        h2 Every Thursday at 8:00pm
        a(href="/") Book Now
      img(src="assets/images/man-hat.png", alt="Picture of a man")
    .articles
      +articles('assets/images/palm-leave.jpg','Palm leaves','The brand new Hollywood horror movies is here')
      +articles('assets/images/couple.jpg','A couple', 'The smoking hero of ',  'Vela and Gobson!')
      +articles('assets/images/woman-perfil.jpeg','A girl','Elizabeth Taylor\'s life in front of the camera ')
    .cta
      h2 Subscribe to all the news
      p Never miss the latest updates.
      form
        label
          input(type="email", name="email", placeholder="Email address")
        button Sign me up


