header {
  max-width: 102.4rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem 5rem;
}

.ads {
  display: none;
  align-items: center;
  img {
    width: 10rem;
    height: 10rem;
    filter: grayscale(100%);
  }
  &_left,
  &_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &_left {
    h2 {
      margin: 0;
      font-family: $font-primary;
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.2;
    }
    span {
      margin: 0.5rem 0;
      font-family: $font-primary;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      color: $color-secondary;
    }
    small {
      padding: 0.3rem 0;
      border-top: 1px solid $color-secondary;
      font-size: 0.9rem;
      font-family: $font-secondary;
      font-weight: 700;
    }
  }
  &.left {
    margin: 2rem auto 2rem 0;
  }
  &.right {
    margin: 2rem 0 2rem auto;
    border-bottom: 1px solid $color-secondary;
    justify-content: center;
  }
  &_right {
    h2 {
      margin: 0;
      font-family: $font-tertiary;
      font-size: 1.8em;
      text-align: center;
      color: $color-secondary;
    }
    div {
      margin: 0.5rem auto;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .ads_right-value {
        width: 30%;
        font-size: 1.8rem;
        font-weight: 700;
      }
      .ads_right-text {
        width: 40%;
        font-size: 1rem;
        font-family: $font-secondary;
        font-weight: 400;
      }
    }
  }
}

.title {
  grid-column: 1 / 4;
  border-top: 1px solid $color-secondary;
  border-bottom: 1px solid $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: $font-primary;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }
  small {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: $font-secondary;
    font-size: 1.1rem;
    color: $color-secondary;
  }
}

.movies,
nav {
  grid-column: 1 / 4;
}

.movies {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;

  .movie {
    height: 100%;
    margin: 0;
    padding: 0 1rem;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fee5f3;
    h2 {
      margin: 0 1rem 0 0;
      font-family: $font-secondary;
      font-size: 1.2rem;
    }
    span {
      padding: 0.5rem 0.25rem;
      font-family: $font-primary;
      font-size: 1rem;
      font-weight: 700;
      background-color: #e994b59b;
      &::first-letter {
        font-size: 1.6rem;
      }
    }
  }
}

nav {
  display: grid;
  grid-template-columns: 1.4rem 1fr 1.4rem;
  align-items: center;
  i {
    font-size: 1.4rem;
  }
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem 1rem;
    align-items: center;
    justify-content: center;
    li {
      list-style: none;
      margin: 0 auto;
      font-family: $font-primary;
      font-size: 1.4rem;
      text-transform: uppercase;
      text-align: center;
      color: $color-secondary;
    }
  }
}

@media (min-width: 768px) {
  header {
    height: 30rem;
    overflow: hidden;
  }
  .ads {
    display: flex;
  }
  .title {
    grid-column: 2 / 3;
  }

  .movies {
    width: 110%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    transform: translateX(-5%);
  }
  nav {
    ul {
      grid-template-columns: repeat(9, minmax(0, 1fr));
      grid-template-rows: 1fr;
    }
  }
}
